body {
  /*background-color: rgb(0, 0, 0);*/
  background-image: url("/assets/img/colored-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  height: 70px;
  box-shadow: 0 0 5px 0;
  background-color: rgba(0, 0, 0, 0);
  /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2),);*/
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  z-index: 100;
  color: white;

  .logo {
    height: 50px;
    width: auto;
  }
  .navbar-brand {
    /*font-family: "Pixelify Sans", sans-serif;*/
    font-size: xx-large;
    /* border-bottom: 2px white dotted; */
  }
  .navbar-brand:hover {
    color: rgb(255, 255, 255, 0.75);
  }

  a {
    /*font-family: "Pixelify Sans", sans-serif;*/
    font-size: larger;
    color: rgb(165, 55, 240);
    text-shadow: 0px 0px 5px rgba(165, 55, 240, 0.8),
      /* Luce centrale */ 0px 0px 15px rgba(165, 55, 240, 0.7),
      /* Luce diffusa */ 0px 0px 25px rgba(165, 55, 240, 0.6),
      /* Luce più sfumata */ 0px 0px 35px rgba(165, 55, 240, 0.5); /* Luce che si dissipa */
  }
  a:hover {
    color: rgb(255, 255, 255, 0.75) !important;
  }
}

#cart-btn {
  position: relative;
}

#cart-item-count {
  position: absolute;
  margin-top: 12px;
  /* margin-right: 20px; */
  margin-left: -10px;
  height: 1rem;
  width: 1rem;
  padding: 0.2rem;
  font-size: 0.7rem;
  color: white;
  background-color: red;
  
}

footer {
  height: 70px;
  box-shadow: 0 0 5px 0;
  background-color: rgba(0, 0, 0, 0.4);
  /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2),);*/
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: auto;
  height: 70px;
  z-index: 100;
  color: white;

  .logo {
    height: 50px;
    width: auto;
  }
  a {
    /*font-family: "Pixelify Sans", sans-serif;*/
    font-size: larger;
    color: rgb(165, 55, 240);
    text-shadow: 0px 0px 5px rgba(165, 55, 240, 0.8),
      /* Luce centrale */ 0px 0px 15px rgba(165, 55, 240, 0.7),
      /* Luce diffusa */ 0px 0px 25px rgba(165, 55, 240, 0.6),
      /* Luce più sfumata */ 0px 0px 35px rgba(165, 55, 240, 0.5); /* Luce che si dissipa */
  }
  a:hover {
    color: rgb(255, 255, 255, 0.75) !important;
  }
  .navbar-brand {
    /*font-family: "Pixelify Sans", sans-serif;*/
    font-size: xx-large;
    /* border-bottom: 2px white dotted; */
  }
  .navbar-brand:hover {
    color: rgb(255, 255, 255, 0.75);
  }
}

.team {
  color: #fff;
  text-decoration: none;
  transition: background 0.3s ease;
  text-shadow: 0px 0px 5px rgba(165, 55, 240, 0.8),
    0px 0px 10px rgba(165, 55, 240, 0.7), 0px 0px 15px rgba(165, 55, 240, 0.6),
    0px 0px 20px rgba(165, 55, 240, 0.5);
}
.team:hover {
  color: rgb(255, 255, 255, 0.75);
}

/*! PROVA VIDEO HERO !*/
.hero {
  position: relative;
  width: 100%;
  height: 70vh; /* Altezza completa della finestra */
  overflow: hidden;
}

/* Video come sfondo */
.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assicura che il video copra tutta l'area senza distorsioni */
  z-index: -1; /* Mette il video sotto il contenuto */
}

/* Contenuto sopra al video */
.hero-content {
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
/*! PROVA VIDEO HERO !*/

.video-inpage {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40vh;
  z-index: -1;
}

/******** SLIDER *******/
.hero-slider {
  margin-top: 250px;
  position: relative;
  left: 10%;
  width: 80%;
  height: 40vh;
  overflow: hidden;
  border-radius: 25px;

  .content {
    height: max-content;
  }
  .content h1 {
    font-size: 2rem;
  }
  .content p {
    font-size: 1.5rem;
  }
  .content .btn {
    font-size: 1.5;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.content {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.content h1 {
  font-size: 3rem;
  margin: 0 0 10px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: rgba(166, 55, 240, 0);
  color: #fff;
  text-decoration: none;
  transition: background 0.3s ease;
  text-shadow: 0px 0px 5px rgba(165, 55, 240, 0.8),
    0px 0px 10px rgba(165, 55, 240, 0.7), 0px 0px 15px rgba(165, 55, 240, 0.6),
    0px 0px 20px rgba(165, 55, 240, 0.5);
}

.btn:hover {
  color: rgb(255, 255, 255, 0.75);
}

.navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2;
}

.navigation button {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.navigation button:hover {
  background: rgba(255, 254, 254, 0.8);
}

body.modal-backdrop {
  z-index: 1040 !important; /* Assicurati che l'overlay sia dietro il modale */
}

body.modal {
  z-index: 1050 !important; /* Modale sopra l'overlay */
}

/********************* PRODUCTS GRID *****************/
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonne */
  gap: 20px; /* Spaziatura tra le card */
  max-width: 1200px;
  margin: 0 auto;
}

/* ! MACELLO CLAMOROSO PER LE CARD MA FUNZIONA */
.card {
  position: relative;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  /*background: #fff; */
  background-color: rgba(0, 0, 0, 0.1); /* Sfondo nero con opacità 0.3 */
  transition: background-color 0.3s ease; /* Per aggiungere un effetto di transizione al passaggio del mouse */
  letter-spacing: 2px;
  padding: 15px;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  /*max-width: 350px; /* Larghezza massima della card */
  height: 400px; /* Altezza fissa della card */
  margin: 0 auto; /* Centra le card in colonne più larghe */
  display: flex;
  flex-direction: column;
  cursor: pointer; /* Mostra il cursore "mano" su tutta la card */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; /* Posiziona l'immagine sotto il contenuto */
}

.imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* L'immagine riempie lo sfondo senza distorsioni */
}

.card .content {
  position: absolute;
  bottom: -200px;
  left: 0%;
  width: 100%;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: bottom 0.5s;
  transition-delay: 0.8s;
}

.card:hover .content {
  bottom: 0px;
  transition-delay: 0s;
}

.card .content .contentBx h5 {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1em;
  text-align: center;
  margin: 15px 0 15px;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: 0.6s;
}
.card:hover .content .contentBx h5 {
  opacity: 1;
  transform: translateY(0px);
}
.card .content .contentBx h5 span {
  text-transform: initial;
}
.card .content .sci {
  position: relative;
  bottom: 10px;
  display: flex;
}
.card .content .sci li {
  list-style: none;
  margin: 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.2s * var(--i));
}
.card:hover .content .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.card .content .sci li a {
  color: #fff;
}

.card .content .contentBx .discount {
  display: inline-block; /* Per assicurare un corretto comportamento con l'animazione */
  /*color: #FF5733; */
  font-weight: bold;
  transform: translateY(40px); /* Parte nascosto fuori vista */
  transition: 0.5s; /* Durata dell'animazione */
  opacity: 0; /* Nascondi inizialmente */
  transition-delay: 0.8s; /* Aggiungi un ritardo */
}

.card:hover .content .contentBx .discount {
  transform: translateY(0px); /* Ritorna alla posizione originale */
  opacity: 1; /* Rendi visibile */
}

/* ! MACELLO CLAMOROSO PER LE CARD MA FUNZIONA */

/*.card img {
    width: 100%; 
    /*height: auto; 
    max-height: 260px; 
    object-fit: contain; 
    object-position: top;
    padding-top: 10px;
}*/

/*.card h3 {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 15px 0;
}*/

/*.card p {
    font-size: 1rem;
    color: #ffffff;
    padding: 0 15px;
    margin-bottom: 20px;
    flex-grow: 1; 
}*/

.card .btn {
  display: inline-block;
  padding: 10px 15px;
  background: #ff5733;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 15px;
}

.card .btn:hover {
  background: #ff7043;
}

/*.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}*/

.card-link {
  text-decoration: none; /* Rimuove la sottolineatura del link */
  color: inherit; /* Mantiene il colore del testo originale */
  display: block; /* Rende il link un blocco per avvolgere la card */
}
/**********************************/

.container-prodotti {
  margin: 0 auto 250px auto !important;
}

.elencoHome {
  justify-content: space-between;
  margin-bottom: 50px;
}
.elencoHome img {
}

.section-title {
  margin-top: 250px;
  margin-bottom: 70px;

  text-align: center;
  /*font-family: "Pixelify Sans", sans-serif;*/
  font-size: clamp(2rem, 5vw, 5rem);
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0px 0px 5px rgba(165, 55, 240, 0.8),
    /* Luce centrale */ 0px 0px 15px rgba(165, 55, 240, 0.7),
    /* Luce diffusa */ 0px 0px 25px rgba(165, 55, 240, 0.6),
    /* Luce più sfumata */ 0px 0px 35px rgba(165, 55, 240, 0.5); /* Luce che si dissipa */
}

/******* PARALLAX *******/

/* video */
.video-parallax {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

.video-parallax .content {
  position: absolute;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
  /*font-family: 'Pixelify Sans', sans-serif;*/
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
/* fine video */

.parallax-logo {
  width: auto;
  /*font-family: "Pixelify Sans", sans-serif;*/
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.parallax-logo .logo {
  padding-top: 2rem;
  max-height: 70%;
  width: auto;
}
.parallax-logo a {
  font-size: larger;
  color: rgb(165, 55, 240);
  text-shadow: 0px 0px 5px rgba(165, 55, 240, 0.8),
    /* Luce centrale */ 0px 0px 15px rgba(165, 55, 240, 0.7),
    /* Luce diffusa */ 0px 0px 25px rgba(165, 55, 240, 0.6),
    /* Luce più sfumata */ 0px 0px 35px rgba(165, 55, 240, 0.5); /* Luce che si dissipa */
}
.parallax a:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

.parallax {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

.parallax1 {
  background-image: url("..//img/parallax1.jpg");
}

.parallax2 {
  background-image: url("../img/parallax2.jpg");
}

.parallax3 {
  background-image: url("../img/parallax3.jpg");
}

/* Rimuove le frecce di default per gli input di tipo number 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width: 50px;
}*/

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 colonne per schermi più piccoli */
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr; /* 1 colonna per schermi molto piccoli */
  }
}
