body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/assets/img/colored-bg.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
}

.navbar{
    height: 70px;
    box-shadow: 0 0 5px 0 ;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    z-index: 100; 
    color: white;

    .logo{
        height: 50px;
        width: auto;
    }
    .navbar-brand{
        font-family: "Pixelify Sans", sans-serif;
        font-size: xx-large;
        /* border-bottom: 2px white dotted; */
    }
    .navbar-brand:hover{
        color: rgb(255, 255, 255, 0.75);
    }

    a{
        font-family: "Pixelify Sans", sans-serif;
        font-size: larger;
        color: rgb(165,55,240);
        text-shadow: 
        0px 0px 5px rgba(165,55,240, 0.8),   /* Luce centrale */
        0px 0px 15px rgba(165,55,240, 0.7),  /* Luce diffusa */
        0px 0px 25px rgba(165,55,240, 0.6),  /* Luce più sfumata */
        0px 0px 35px rgba(165,55,240, 0.5);  /* Luce che si dissipa */
    }
    a:hover {
        color: rgb(255, 255, 255,0.75) !important;
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(166, 55, 240, 0);
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
    text-shadow: 
        0px 0px 5px rgba(165,55,240, 0.8),   
        0px 0px 10px rgba(165,55,240, 0.7),  
        0px 0px 15px rgba(165,55,240, 0.6),  
        0px 0px 20px rgba(165,55,240, 0.5); 
}

.btn:hover {
    color: rgb(255, 255, 255,0.75);
    font-size: x-large;
    transition: ease-in 0.3s;
}

.navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
}

.navigation button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.navigation button:hover {
    background: rgba(255, 254, 254, 0.8);
}

#prodotti{
    /*padding-left: 250px;*/
    /*overflow-y: auto;
    border: 2px solid #ddd;; */
}

#container-prodotti{
    margin: 0!important ;
    padding-top: 100px;
    color: darkred;
}

#filtri{
/*position: fixed; /* Posizione fissa */
  top: 150px; /* Incolla il filtro nella parte superiore della pagina */
  left: 0; /* Allinea il filtro a sinistra */
  /*width: 200px; /* Larghezza fissa per la barra dei filtri */
  /*height: 100vh; /* Altezza che occupa l'intero schermo */
  /*overflow-y: auto; /* Aggiungi uno scroll interno se necessario */
  padding: 10px; /* Spazi interni */
  z-index: 100; 
}

#filtri h1 {
    overflow-wrap: break-word; /* Spezza il testo */
    word-break: break-word; /* Compatibilità */
    max-width: 100%;
    font-size: clamp(1rem, 5vw, 2.2rem);
    font-weight: 600;
}

.fixed{
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: white;
}

#available-container,
#presale-container{
    justify-content: space-around;
}


#valore-disponibili{
    /*position: fixed;
     top: 100px;
    left:250px;*/
    z-index:100;
}

#price-range{
    color: black;
}

.form-range{
    accent-color: #ff5733; /* Colore principale del controllo */
    height: 10px; /* Altezza del track */
}
/* AGGIUNGERE IL FILE SASS PER PERSONALIZZAZIONI */

.card{
     /*background: #fff; */
     background-color: rgba(0, 0, 0, 0.1); /* Sfondo nero con opacità 0.3 */
     transition: background-color 0.3s ease; /* Per aggiungere un effetto di transizione al passaggio del mouse */
     letter-spacing: 2px;
     padding: 15px;
     color: rgb(255, 255, 255);
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
     text-align: center;
     max-width: 350px; /* Larghezza massima della card */
     height: 400px; /* Altezza fissa della card */
     margin: 0 auto; /* Centra le card in colonne più larghe */
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     cursor: pointer; /* Mostra il cursore "mano" su tutta la card */
     backdrop-filter: blur(30px);
     -webkit-backdrop-filter: blur(30px);
}
.card img{
    width: auto;
    height: 230px;
    padding-top: 8px;
    object-fit: contain;
}

.section-title{
    text-align: center;
}

.discount{
    text-decoration: line-through;
    color: gray;
    display: inline;
}
.newPrice{
    color: red;
    display: inline;
}

/* MEDIA QUERY SPACING SMALL - RIMUOVERE MARGIN LEFT PRODOTTI */