<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/styles/home.css">
    <title>Home</title>
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <img class="logo" src="/assets/img/logo.png" alt="">
        <a class="navbar-brand" href="/views/index.html" style="padding: 0!important;">Nerd Vault</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
    
            <li class="nav-item">
              <button type="button" id="cart-btn" class="btn nav-link" data-bs-toggle="modal" data-bs-target="#cartModal"
                data-bs-whatever="@mdo">
                <i class="fa-solid fa-shopping-cart"></i>
    
                <span id="cart-item-count"
                  class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger"
                  style="display: none;">
                  0
                </span>
    
                <span class="visually-hidden">Mostra carrello</span>
              </button>
            </li>
            <li class="nav-item">
              <!-- <button type="button" class="btn nav-link" id ="CheckSession">CheckSession</button> -->
              <button id="btnShop" type="button" class="btn nav-link"
                onclick="window.location.href='/views/shop.html'">Shop</button>
              <button id="btnOrders" type="button" class="btn nav-link" style="display: none;"
                onclick="window.location.href='/views/user.html'">I miei ordini</button>
              <button id="btnPanel" type="button" class="btn nav-link" style="display: none;"
                onclick="window.location.href='/views/panel.html'">Pannello di controllo</button>
              <button id="btnLogin" type="button" class="btn nav-link" data-bs-toggle="modal" data-bs-target="#loginModal"
                data-bs-whatever="@mdo">Login</button>
              <button id="btnLogout" type="button" class="btn nav-link" style="display: none;">Logout</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- MODALE LOGIN +++ VA CON LA NAVBAR -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Form di Login con action e method POST -->
            <form action="/auth/login" method="POST" id="loginForm">
              <div class="mb-3">
                <label for="inputEMail" class="col-form-label">E-mail</label>
                <input type="email" class="form-control" id="inputEMail" name="email" placeholder="esempio@email.it"
                  required>
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="col-form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password" required>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Invia</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- FINE MODALE LOGIN +++ VA CON LA NAVBAR -->
    
    <!-- MODALE CARRELLO -->
    <!-- Per eliminare effetto tema scuro, togliere data-bst-theme="dark" e classe text-white dal div 2 righe sotto -->
    <div class="modal fade" id="cartModal" data-bs-theme="dark" tabindex="-1" aria-labelledby="#exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable text-white me-md-3" data-bs-theme="dark">
        <div class="modal-content h-100" data-bs-theme="dark">
          <div class="modal-header" data-bs-theme="dark">
            <h1 class="modal-title fs-5" id=""></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <!-- da togliere -->
          </div>
          <h1 style="text-align: center;">CARRELLO</h1>
          <div class="modal-body" data-bs-theme="dark" id="cart-body">
    
    
    
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="">Concludi ordine</button>
              <!-- AGGIUNGERE REINDIRIZZAMENTO A USER-->
            </div>
          </div>
    
        </div>
      </div>
    </div>
    <!-- FINE MODALE CARRELLO -->

    <!--  PROVA VIDEO HERO -->
    <!-- Hero Section -->
<!-- Sezione Video Parallax -->
<div class="video-parallax">
  <video autoplay muted loop class="background-video">
    <source src="/assets/video/chill-mario-pixel-moewalls-com.mp4" type="video/mp4">
    <source src="/assets/video/chill-mario-pixel-moewalls-com.webm" type="video/webm">
    <source src="/assets/video/chill-mario-pixel-moewalls-com.ogv" type="video/ogg">
    Il tuo browser non supporta i video HTML5.
  </video>
  <div class="content">    
    <h1 style="font-weight: 900;">Welcome to the Valut</h1>
    <p style="font-weight: 900;">From far away galaxies to obscure dungeongs, everything you love is just a click away.</p>
  </div>
</div>
<!-- Fine Sezione Video Parallax -->
    <!--  PROVA VIDEO HERO -->
  
 <!-- SLIDER HERO -->
 <div class="hero-slider">
  <!-- Slides -->
  <div class="slide active" style="background-image: url('/assets/img/hero-tcg-battle.jpg');">
      <div class="content">
          <h1>It's dueling time!</h1>
          <p>Battle your friends with the most epic cards ever created!</p>
          <a href="/views/product.html?id=1" class="btn">Let's go</a>
      </div>
  </div>
  <div class="slide" style="background-image: url('/assets/img/tabletop.jpg');">
      <div class="content">
        <h1>Limitless Gaming Experience</h1>
        <p>Table games, accessories and all you need for your gaming sessions</p>
          <a href="/views/product.html?id=3" class="btn">Get Started</a>
      </div>
  </div>
  <div class="slide" style="background-image: url('/assets/img/manga-hero.jpg');">
      <div class="content">
          <h1>Relax </h1>
          <p> Don't miss the latest releases, like Saitama! </p>
          <a href="#" class="btn btnHeroLog" onclick="openLoginModal()">Sign Up</a>
      </div>
  </div>
  <!-- Navigation -->
  <div class="navigation">
      <button class="prev">&#10094;</button>
      <button class="next">&#10095;</button>
  </div>
</div>
<!-- FINE SLIDER HERO -->

    <!-- PARALLAX 2 
    <div class="parallax parallax-logo d-flex" id="parallax-logo">
      <img class="logo" src="/assets/img/logo.png" alt="">
        <a class="navbar-brand" href="#" style="padding: 0!important; font-size: 3rem;">Nerd Vault</a>
    </div>
  -->

    <h2 class=" section-title">New Products</h2>
    <!-- NEW PRODUCTS GRID -->
    <div class="col-xs-12 col-sm-10 flex-column align-items-center container-prodotti" id="" style="margin-bottom: 250px;">
      <div id="new-products" class="row elencoHome">
      </div>
    </div>
    <!-- FINE NEW PRODUCTS GRID -->
    
    <!-- HERO VIDEO 2-->
    <div class="video-inpage">
      <video autoplay loop muted class="background-video" style="top:45%">
        <source src="/assets/video/cyberpunk-coffee-pixel-moewalls-com.mp4" type="video/mp4">
        <!-- Aggiungi formati alternativi per la compatibilità -->
        <source src="/assets/video/cyberpunk-coffee-pixel-moewalls-com.webm" type="video/webm">
        <source src="/assets/video/cyberpunk-coffee-pixel-moewalls-com.ogv" type="video/ogg">
        Il tuo browser non supporta i video HTML5.
      </video>
    </div>
    <!-- HERO VIDEO 2-->

    <!-- PARALLAX 3 
    <div class="parallax parallax3"></div>-->

    <h2 class=" section-title">Best Sellers</h2>
    <!-- BEST SELLERS GRID -->
    <div class="col-xs-12 col-sm-10 flex-column align-items-center container-prodotti" id="">
      <div id="best-sellers" class="row elencoHome">
      </div>
    </div>
    <!-- FINE BEST SELLERS GRID -->
  </div>
  <!-- FINE Sezione prodotti -->

  <footer>
    <div class="container d-flex justify-content-evenly align-items-center">
      <a class="navbar-brand" href="/views/index.html" style="padding: 0!important;">Nerd Vault</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="team"> Delivered by tcgZiopera&#169; team </div>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/assets/scripts/home.js"></script>
    <script src="/assets/scripts/cart.js"></script>
    <script src="/assets/scripts/login.js"></script>
</body>
</html>
